body {
  background: url(../images/satellitebackground.png);
}

body * {
  font-size: 12px !important;
}

a {
color: #888;
text-decoration: none;
}

a:hover {
color: black;
text-decoration: underline;
}

#wrapper {
  font:12pt arial,sans-serif;
  background: white;
  border: 1px solid #333;
  padding: 1.5em;
  margin: 2em;
}

header h1 {
  height: 27px;
  width: 232px;
  background: url(../images/asf-logo.png);
}

header h1 span {
  display: none;
}

header {
  height: 3em;
}

#SearchApp {
  margin: 1em 0;
  min-height: 10em;
  position: relative;
}

#leftColumn {
  width: 20%;
  float: left;
}

#rightColumn {
  float: right;
  width: 78%;
  margin-bottom: 1em;
}

footer {
  font-color: #878787 !important;
  font-size: smaller;
  clear: both;
  margin: 0;
  border: 1px solid #ccc;
  height: 12em;
  padding: 2em 1em 1em;
  background: #efefef;
}

footer h2 { 
  font-color: #878787 !important;
  font-weight: bold;
}

footer div#centerer {
  width: 1000px;
  margin: 0 auto;
  background: #efefef url(../images/asflogo-footer.png) no-repeat top right;
}

nav {
display: none;
}

footer p {
line-height: 110%;
}

footer div div {
margin: 0;
width: 23%;
float: left;
}

#searchMap {
  width: 100%;
  height: 400px;
  margin: 0 0 1em 0;
}

#date_widget label {
display: block;
margin: 0 0 1em 0;
}

label.hover {
  cursor: pointer;
}

.datatable {
  width: inherit;
}

.datatable tbody td {
  padding: 1ex;
  vertical-align: middle;
}

.datatable tbody td img {
  margin-right: 1ex;
}

.datatable tbody tr:hover {
  background-color: #FFF88E !important; 
}

/* this rule is specific to highlighting the DataTable active sorting column */
.datatable tbody tr:hover td.sorting_1 { 
  background-color: #FFF940 !important;
}

.datatable tbody tr {
  cursor: pointer;
}

.datatable tr.even {
  background-color: #f2f2f2;
}

.datatable tr.odd {
  background-color: #e2e2e2;
}

.datatable tr.even td.sorting_1 {
  background-color: #e8e8e8;
}

.datatable tr.odd td.sorting_1 {
  background-color: #d8d8d8;
}

.datatable tr.selected.even {
  background-color: #399ec2; 
}

.datatable tr.selected {
  background-color: #288db1;
}

.datatable tr.selected.even td.sorting_1 {
  background-color: #399ec2;
}

.datatable tr.selected.odd td.sorting_1 {
  background-color: #288db1;
}

.datatable { 
  width: 100%;
  color: black !important;
  height: auto;
}

#product_profile img {
  display: block;
  margin: 1em auto;
}

#async-spinner, #results-banner, #error-message {
  margin: 1em 0;
  padding: 1ex;
  display: none;
}

#async-spinner span, #results-banner span, #error-message span {
  float: left;
  margin: 7px 1ex;
}

#async-spinner span {
  margin: 7px 1ex;
  background: transparent url(../images/ajax-loader.gif);
}

#geographic_widget p {
  margin: 0 0 1em;
}

#geographic_widget input[type="text"] {
  width: 100%;
  font-size: .9em;
}

#queue_summary {
  position: absolute;
  top: 3em;
  right: 3em;
}

/* override the min-height property here */
#download_queue .dataTables_wrapper {
  min-height: 0;
}

#download_queue_formats {
  float: right;
}

#do_queue_download {
  float: right;
  margin-left: 1em;
}

.footer_controls {
  padding: 2em 0;
}
