body, * {
  font:15px arial,sans-serif;
}
header {
  border: 1px solid #aaa;
  height: 3em;
}

#SearchApp {
  margin: 1em 0;
  min-height: 10em;
  border: 1px solid #aaa;
  position: relative;
}

#leftColumn {
  border: 1px solid #aaa;
  width: 20%;
  float: left;
}

#rightColumn {
  float: right;
  border: 1px solid #aaa;
  width: 78%;
}

footer {
  border: 1px solid #aaa;
  clear: both;
}

#search_map {
  width: 600px;
  height: 400px;
}

#date_widget label {
display: block;
margin: 0 0 1em 0;
}
