#subsetter {
	position: absolute;
	top: 15px;
	display: block;
}
#datasetSelection {
	width: 290px;
	height: 580px;
}
#map {
	width: 655px;
	height: 580px;
	border: 1px ridge silver;
	display: block;
	top: 15px;
	position: absolute;
	left: 300px;
}
#subsetterRightColumn {
	position: absolute;
	top: 15px;
	float: right;
	left: 980px;
}
#formContainer {
	display: block;
	position: relative;
}
#formButtons {
	position: relative;
	top: 1.75em;
	margin: 0px auto -1px auto;
	display: block;
	text-align: center;
}
.form1 {
	height: 100% !important;
}
.boxTop {
	-moz-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	width: 288px;
	background-color: #F58400;
	display: block;
	color: white;
	font-weight: bold;
	text-align: center;
	height: 23px;
	padding-top: 7px;
	border-left: 1px solid #FFAF0F;
	border-right: 1px solid #FFAF0F;
	border-top: 1px solid #FFAF0F;
}
.boxTopWide {
	width: 300px;
}
.boxBody {
	-moz-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	background-color: black;
	display: block;
	width: 278px;
	height: 440px;
	padding-top: 15px;
	padding-left: 10px;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	position: relative;
	color: silver;
}
.boxBodyWide {
	width: 290px;
}
.WCSfields {
	width: 160px;
	float: left;
	margin-top: 5px;
	line-height: 25px;
}
.WCSfieldsShort {
	width: 30px !important;
}
.WCSfieldsShort input {
	width: 30px !important;	
}
label.WCSfields {
	clear: both;
    width: 115px;
    margin: 2px 4px 6px 4px;
	color: white;
	text-align: right;
	float: left;
	position: relative;
	top: 3px;
}
.WCSlabelShort {
	width: 75px !important;
}
input.WCSfields {
  	display: block;
  	position: relative;
}
.arrow4way {
	display: block;
	float: left;
	margin-left: 10px;
	margin-right: 5px;
}
.filler1 {
	width: 39px;
	display: inline-block;
	float: left;
	height: 1px;
}
.subtext {
	line-height: 11px;
	position: absolute;
	width: 130px;
	color: silver;
	right: 0;
	top: 9px;
	font-size: 10px !important;
}
.zoomText {
	position: relative;
	width: 400px;
	display: block;
	top: 87px;
	right: 118px;
	text-decoration: underline;
	color: #F58400;
}
.zoomText a:link {color: #F58400;}
.zoomText a:visited {color: #F58400;}
.zoomText a:active {color: #F58400;}
.zoomText a:hover {color: #FFFFFF;}
.postFieldText {
	position: relative;
	margin-top: 5px;
	color: silver;
	left: 12px;
	top: 13px;
}
.head {
	width:100%;
	background-image:url(images/header_bg.png);
	background-repeat:repeat-x;
	height:118px;
}
.head .main {
	width:980px;
	margin:0 auto;
	position:relative;
}
#browse {
	position:absolute;
	right:77px;
	top:29px;
	cursor:pointer;
}
.categories {
	display:none;
	padding:10px;
	float:left;
	width:960px;
	background-color:#fff;
	margin-top:20px;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.top_container{
	width:980px;
	float:left;
	background-color:#fff;
	margin-top:20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}


.bottom_container{
	width:980px;
	float:left;
	background-color:#fff;
	margin-top:20px;
	margin-bottom:30px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.clear {
	clear:both;
}

img{border:0px;}

.subscribe{
	margin:10px;}



#right_column{
	float:right;
	width:300px;
	margin:15px;
	}
	
#left_column{
	float:left;
	width:600px;
	margin:15px;
	}	
	
.thumb{float:left;
margin-right:10px;
width:140px;
height:140px;
}	
	
h2 li{color:#333;
text-decoration:none;}	

h2 li:hover{text-decoration:underline;}	

p{font-size:14px; color:#999;}
p li{color:#F60;}

h2{margin-top:25px;}

