<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Vertex: ASF's Data Portal</title>

<!--Scripts and CSS needed by the Yahoo UI Tab Control-->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/tabview/assets/skins/sam/tabview.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>

<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/tabview/tabview-min.js"></script>

<!--End of Yahoo UI Tab Control Scripts and CSS-->

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/less/css/vertex.css') %]" />
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/demo_table_jui.css') %]" />
<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/ui-darkness/jquery-ui-1.8.16.custom.css') %]" />
<!-- <link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/js/bootstrap/bootstrap.min.css') %]" /> -->

<!-- enable html5 element formatting with older IE versions -->
<!--[if lt IE 9]>
<script src="[% c.uri_for('/static/js/html5.min.js') %]"></script>
<![endif]-->

<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/AsfConfig.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/AsfPlatformConfig.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery-1.7.1.min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery.lazyload.min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery.cookie.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery.store.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery-ui-1.8.16.custom.min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery.dataTables.min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery.dataTables.asf-plug-ins.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/underscore-min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/AsfUtility.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/backbone-min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/SearchMap.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/DataProduct.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/ProcessingTypes.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/Search.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/PostFilterComponents.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/PostFilters.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/SearchResults.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/DownloadQueue.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/UserWidgetRenderers.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/UserAuth.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/SearchApp.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/Feedback.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/PageHelp.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/Dictionary.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery.placeholder.js') %]"></script>

<!--scripts/links needed by the form subsetter-->

<script src="[% c.uri_for('/static/js/bootstrap/js/min/bootstrap-modal-min.js') %]"></script>
<script src="[% c.uri_for('/static/js/bootstrap/js/min/bootstrap-twipsy-min.js') %]"></script>
<script src="[% c.uri_for('/static/js/bootstrap/js/min/bootstrap-popover-min.js') %]"></script>

<!--<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/ui-darkness/jquery-ui-1.8.16.custom.css') %]" />-->
<!--<script type="text/javascript" src="[% c.uri_for('/static/js/jquery-1.6.4.min.js') %]"></script>-->
<script type="text/javascript" src="[% c.uri_for('/static/js/underscore-min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery-ui-1.8.16.custom.min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/backbone-min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/sinon-1.2.0.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/Dictionary.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/MapServerRequest.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/WCSForm.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/OpenLayers-2.11/OpenLayers.js') %]"></script><!--FIXME-->
<script type="text/javascript" src="[% c.uri_for('/static/js/WCSFormSubmitterWidget.js') %]"></script>


</style>

</head>

<body>


<div id="wrapper">
  <header>

	<div>
    <img style="float: left;" src="[% c.uri_for('/static/images/asf-logo-header.png') %]" />
 	  <h1><a href="#">&nbsp;Vertex <span>ASF&rsquo;s Data Portal</a></h1>
    <div id="tools_menu">
		  <div id="login_msg"></div>
      <div id="user_tools"></div>
      <div id="queue_summary"></div>
      <div id="feedbackButton"></div>
      <div id="PageHelpButton"></div>
    </div>
	</div>
  </header>

  <div id="login_dialog" style="display: none">
  	<div id="login_feedback" class="msg"></div>
  	<form name="form1" id="form1">
  			<label for="login_username" class="login_fields">Name</label>
  			<input type="text" name="userid" id="login_username" class="login_fields"  /><br />
  			<label for="login_password" class="login_fields">Password</label>
  			<input type="password" name="password" id="login_password" value=""  class="login_fields"/><br />
  	</form>
    <br />
    <br />
    Forgot password?  Contact ASF User Support at uso@asf.alaska.edu for assistance
    <br />
    <br />
    If you do not currently have access to the restricted ASF Datapool products, please click the 'Register' button below to visit the ASF SDC proposal submission page for guidance or contact User Support at uso@asf.alaska.edu
  </div>


<div id="tabGroup" class="yui-skin-sam">
	<div id="vertex-content" class="yui-navset">
	    <ul class="yui-nav">
	        <li class="selected"><a href="#contents"><em>ASF Datapool</em></a></li>
	        <li><a href="#subsetter"><em>ASF Subsetter</em></a></li>
	    </ul>
	    <div class="yui-content">
	        [% INCLUDE content1.inc %]
	        [% INCLUDE WCSFormSubmitterWidget.inc %]
	    </div>
	</div>
</div>

<div id="feedbackForm"></div>
  <footer>
    <div id="centerer">
      <div>
        <a target="_blank" href="http://www.asf.alaska.edu"><img src="[% c.uri_for('/static/images/asflogo-footer.png') %]" /></a>
      </div>
      <div>
        <a target="_blank" href="http://www.gi.alaska.edu"><img src="[% c.uri_for('/static/images/gi-logo.png') %]" /></a>
      </div>
      <div id="footer_contact">
        <h2>Alaska Satellite Facility</h2>
        <p>
          Phone: (907) 474-6166<br/>
          Email: <a href="uso@asf.alaska.edu">uso@asf.alaska.edu</a><br/>
        <br/>
          2011 &copy; Alaska Satellite Facility<br />
          Vertex: ASF&rsquo;s Data Portal V[% c.config.version %]
        </p>
      </div>
      <div>
        <a target="_blank" href="http://www.uaf.edu"><img src="[% c.uri_for('/static/images/uaf-logo.png') %]"></a>
      </div>
      <div>
        <a target="_blank" href="http://esdis.eosdis.nasa.gov/"><img src="[% c.uri_for('/static/images/nasa-logo.png') %]"></a>
      </div>
    </div>
    <div style="clear:both;">&nbsp;</div>
  </footer>
</div>

<!--Script to instantiate the tab view-->
<script type="text/javascript">
    var tabView = new YAHOO.widget.TabView('vertex-content');
</script>

[% IF c.config.include_google_analytics == 'true' %]
<!-- Begin Google Analytics Code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', [% c.config.google_analytics_account %]]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Google Analytics Code -->
[% END %]

[% IF c.config.include_ems_tracker == 'true' %]
<!-- BEGIN: EMS Page Tag -->
<script language="JavaScript">
// var NTPT_PGEXTRA = '';
// var NTPT_PGREFTOP = true;
// var NTPT_NOINITIALTAG = false;
</script>
<script language="JavaScript" src="[% c.uri_for('/static/js/ntpagetag.js') %]"></script>
<!-- END: EMS Page Tag -->
<!-- BEGIN: EMS Page Tag No Script -->
<noscript>
<img src="http://ws1.ems.eosdis.nasa.gov/images/ntpagetag.gif?js=0" height="1" width="1" border="0" hspace="0"
vspace="0" alt="">
</noscript>
<!-- END: EMS Page Tag No Script -->
[% END %]

</body>
</html>
